<script type="text/javascript" src="index.js"></script>

<body>
    <h1> Python Fetch Example</h1>
    <p id='embed'>{{embed}}</p><p id='mylog'/>

    <input type = "button" onclick = "getData()" value = "Display">  
    <script>
        function getData() {
            fetch('/test')
                .then(function (response) {
                    return response.json();
                }).then(function (text) {
                    console.log('GET response:');
                    console.log(text.greeting); 
                    return text.greeting
                });
        }
    </script>
<body>